@model GabungView

<!--== Buku Details ==-->
<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Buku Details</h4>
                    <p>All about students like name, student id, phone, email, country, city and more</p>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Profil</th>
                                    <th>Id</th>
                                    <th>Judul Buku</th>
                                    <th>Pengarang</th>
                                    <th>Penerbit</th>
                                    <th>Tahun Terbit</th>
                                    <th>Stock</th>
                                    <th>Id Kontributor</th>
                                    <th>Status</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model.buku) { 
                                <tr>
                                    <td>
                                        <span class="list-img"><img src="@item.Gambar" alt=""></span>
                                    </td>
                                    <td>
                                        @*<a href="#"><span class="list-enq-name">Marsha Hogan</span><span class="list-enq-city">Illunois, United States</span></a>*@
                                        @item.Id
                                    </td>
                                    <td>@item.Judul_Buku</td>
                                    <td>@item.Pengarang</td>
                                    <td>@item.Penerbit</td>
                                    <td>@item.Tahun_Terbit</td>
                                    <td>@item.Stock</td>
                                    <td>@item.Pemasok_Id</td>
                                    <td>
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td><a href="#" class="ad-st-view">View</a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>